.chat-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background: rgb(9, 9, 39);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
    z-index: 10;

    .notif{
        position: absolute;
        top: 0;
        right: 5px;
        width: 10px;
        aspect-ratio: 1;
        border-radius: 50px;
        background: red;
    }
}

.chat {
    position: fixed;
    right: 60px;
    top: 80px;
    background: rgb(3, 3, 39);
    outline: 1px solid rgb(9, 9, 39);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    z-index: 10;

    .chat-content {
        height: 450px;
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        &::-webkit-scrollbar{
            display: none;
        }

        .message-area {
            flex: 1;
            width: 100%;
            margin: 0;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
            margin-bottom: 30px;

            .message {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                color: whitesmoke;

                .content-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    max-width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    word-wrap: break-word;

                    .content {
                        list-style-type: none;
                        font-weight: bold;
                    }

                    .data {
                        display: flex;
                        font-size: 10px;
                        font-style: italic;
                        color: whitesmoke;
                    }
                }
            }

            #me {
                align-items: flex-end;

                .content-wrapper {
                    align-items: flex-start;
                    background: #0187c5;
                }
            }

            #other{
                align-items: flex-start;

                .content-wrapper {
                    align-items: flex-end;
                    background: #05b950;
                }
            }
        }

        p{
            position: absolute;
            left: 0;
            bottom: 50px;
            color: whitesmoke;
        }

        .input-wrapper{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 5vh;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;

            input {
                flex: 1;
                height: 100%;
                border: none;
                outline: none;
                padding-left: 20px;
                border-radius: 0 0 0 5px;
            }

            button{
                height: 100%;
                width: fit-content;
                min-width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                background: rgb(59, 59, 85);
                color: whitesmoke;
                border-radius: 0 0 5px 0;
                cursor: pointer;

                &:hover{
                    background: rgb(13, 13, 179);;
                }
            }
        }
    }
}